<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lacrom's WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebbApp.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index"><b>LacromApp</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/F1_predictor">F1_prediction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Myprojects">My projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/MeMe">MeMe</a>
                        </li>
                    </ul>
                </div>
                <form method="get" asp-action="Index">
                    <div class="mb-2 d-flex justify-content-end align-items-center">
                        <div class="mr-2">
                            <input class="form-control" type="text" id="Searchid" placeholder="Search" value="@ViewData["searchdetails"]" name="searchString" height="35" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary form-control">
                                <img src="~/loupe.png" alt="Search" width="30" height="35">
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center bg-dark" id="footer">
        <div class="container text-white py-4 py-lg-5">
        <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="https://github.com/Lacrom?tab=repositories">Github</a></li>
                <li class="list-inline-item me-4"><a class="link-light" asp-page="/Contact">Contact</a></li>
                <li class="list-inline-item"><a class="link-light" asp-page="/Privacy">Privacy</a></li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2024 - LacromApp</p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/searchHub") // Użyj URL huba SignalR
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.on("ReceiveSearchResults", function (results) {
            // Obsługa otrzymanych wyników wyszukiwania
            console.log(results);
            // Aktualizacja widoku, np. wstawienie wyników do odpowiedniego diva
        });

        connection.start()
        .then(function () {
            console.log("SignalR connected with connection ID: " + connection.connectionId);
        })
        .catch(function (err) {
            return console.error(err.toString());
        });

        // Inne funkcje obsługujące interakcje z użytkownikiem i wysyłające informacje do huba.
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>