@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p> I'm Lacrom and I want to show you, what I can. Maybe my projects will be appreciated by you and helpful. I used <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core technology</a>  to create my first web App.</p>
</div>
