@page
@model MeMeModel
@{
    ViewData["Title"] = "MeMe page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MyWebPages</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/memescs.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-Dark-icons.css">
    <link rel="stylesheet" href="assets/css/Projects-Grid-Horizontal-images.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body >
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Tags&nbsp;&nbsp;<a href="#cat">#cat</a>&nbsp;<a href="#wheel">#wheel</a>&nbsp;</p><a href="#"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="cat" align="center"><img src="~/kitty.jpg" alt="Kitty" height="200" width="300"></div>
            <div class="col" id="wheel"style="padding-bottom: 190px;margin-top: 0px;" align="center"><img src="~/Kierownica_Ferrari.png" height="200" width="300" alt="Ferrari's Wheel" style="margin-bottom: 190px;margin-top: 0px;"></div>
        </div>
    </div>
    <script src="wwwroot/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="wwwroot/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>


